Repository EarthmanMuons/reusable-workflows, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github_actions

Expand the README for clarity
  .github/workflows/labeler.yml
  .github/workflows/markdown.yml
  .github/workflows/on-pull-request-target.yml
  .github/workflows/on-pull-request.yml
  README.md
Labels: documentation, github_actions

Expand the README for clarity
  .github/workflows/labeler.yml
  .github/workflows/markdown.yml
  .github/workflows/on-pull-request-target.yml
  .github/workflows/on-pull-request.yml
  README.md
Labels: documentation, github_actions

Ensure documented output matches valid YAML syntax
  .github/workflows/detect-changed-files.yml
  README.md
Labels: documentation, github_actions

Ensure documented output matches valid YAML syntax
  .github/workflows/detect-changed-files.yml
  README.md
Labels: documentation, github_actions

Remove quotes surrounding default input values
  README.md
Labels: documentation

Remove quotes surrounding default input values
  README.md
Labels: documentation

Add a workflow to preload the cache with actionlint
  .github/workflows/on-schedule-weekly.yml
  .github/workflows/preload-cache-actionlint.yml
  README.md
Labels: documentation, github_actions

Add a workflow to preload the cache with actionlint
  .github/workflows/on-schedule-weekly.yml
  .github/workflows/preload-cache-actionlint.yml
  README.md
Labels: documentation, github_actions

Add workflow to preload cache with Rust dependencies
  .github/workflows/preload-cache-rust.yml
  README.md
Labels: documentation, github_actions

Add workflow to flush all cache entries for the current branch
  .github/workflows/flush-cache.yml
  .github/workflows/on-schedule-weekly.yml
  README.md
Labels: documentation, github_actions

Add workflow to flush all cache entries for the current branch
  .github/workflows/flush-cache.yml
  .github/workflows/on-schedule-weekly.yml
  README.md
Labels: documentation, github_actions

Add workflow to preload cache with Rust dependencies
  .github/workflows/preload-cache-rust.yml
  README.md
Labels: documentation, github_actions

Split flush cache manual trigger into dedicated workflow
  .github/workflows/call-flush-cache.yml
  .github/workflows/flush-cache.yml
  .github/workflows/on-push-to-main.yml
  .github/workflows/on-schedule-weekly.yml
  README.md
Labels: documentation, github_actions

Split flush cache manual trigger into dedicated workflow
  .github/workflows/call-flush-cache.yml
  .github/workflows/flush-cache.yml
  .github/workflows/on-push-to-main.yml
  .github/workflows/on-schedule-weekly.yml
  README.md
Labels: documentation, github_actions

Bump crate-ci/typos from 1.15.10 to 1.16.1
  .github/workflows/spelling.yml
Labels: github_actions

Bump crate-ci/typos from 1.15.10 to 1.16.1
  .github/workflows/spelling.yml
Labels: github_actions

Cache actionlint on pushes to the main branch
  .github/workflows/on-push-to-main.yml
  .github/workflows/on-schedule-weekly.yml
Labels: github_actions

Cache actionlint on pushes to the main branch
  .github/workflows/on-push-to-main.yml
  .github/workflows/on-schedule-weekly.yml
Labels: github_actions

Detect changed rust files
  .github/workflows/detect-changed-files.yml
Labels: github_actions

Add workflow to test rust
  .github/workflow/test-rust.yml
Labels: none

Detect changed rust files
  .github/workflows/detect-changed-files.yml
Labels: github_actions

Add workflow to test rust
  .github/workflow/test-rust.yml
Labels: none

Add workflow for deploying rustdocs to GitHub Pages
  .github/workflows/github-pages-rust.yml
  README.md
Labels: documentation, github_actions

Document the check-rust reusable workflow
  .github/workflows/check-rust.yml
  README.md
Labels: documentation, github_actions

Use the check- workflow prefix for consistency
  .github/workflows/check-github-actions.yml
  .github/workflows/check-markdown.yml
  .github/workflows/check-rust.yml
  .github/workflows/check-spelling.yml
  .github/workflows/on-pull-request.yml
  README.md
Labels: documentation, github_actions

Use the check- workflow prefix for consistency
  .github/workflows/check-github-actions.yml
  .github/workflows/check-markdown.yml
  .github/workflows/check-rust.yml
  .github/workflows/check-spelling.yml
  .github/workflows/on-pull-request.yml
  README.md
Labels: documentation, github_actions

Add workflow for deploying rustdocs to GitHub Pages
  .github/workflows/github-pages-rust.yml
  README.md
Labels: documentation, github_actions

Document the check-rust reusable workflow
  .github/workflows/check-rust.yml
  README.md
Labels: documentation, github_actions

Fix up missed documentation references
  README.md
Labels: documentation

Fix up missed documentation references
  README.md
Labels: documentation

Use dedicated job for handing cache preloading
  .github/workflows/call-flush-cache.yml
  .github/workflows/call-preload-cache.yml
  .github/workflows/check-github-actions.yml
  .github/workflows/detect-changed-files.yml
  .github/workflows/flush-cache.yml
  .github/workflows/labeler.yml
  .github/workflows/on-pull-request-target.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/on-push-to-main.yml
  .github/workflows/preload-cache-rust.yml
Labels: github_actions

Use dedicated job for handing cache preloading
  .github/workflows/call-flush-cache.yml
  .github/workflows/call-preload-cache.yml
  .github/workflows/check-github-actions.yml
  .github/workflows/detect-changed-files.yml
  .github/workflows/flush-cache.yml
  .github/workflows/labeler.yml
  .github/workflows/on-pull-request-target.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/on-push-to-main.yml
  .github/workflows/preload-cache-rust.yml
Labels: github_actions

Add workflows for testing Rust on beta and miri
  .github/workflows/check-markdown.yml
  .github/workflows/check-rust-beta.yml
  .github/workflows/check-rust-miri.yml
  .github/workflows/check-rust.yml
  .github/workflows/check-spelling.yml
  .github/workflows/github-pages-rust.yml
  .github/workflows/preload-cache-actionlint.yml
  .github/workflows/ready-to-merge.yml
Labels: github_actions

Add workflows for testing Rust on beta and miri
  .github/workflows/check-markdown.yml
  .github/workflows/check-rust-beta.yml
  .github/workflows/check-rust-miri.yml
  .github/workflows/check-rust.yml
  .github/workflows/check-spelling.yml
  .github/workflows/github-pages-rust.yml
  .github/workflows/preload-cache-actionlint.yml
  .github/workflows/ready-to-merge.yml
Labels: github_actions

Rename deploy to GitHub Pages job to have an explicit prefix
  .github/workflows/deploy-github-pages-rust.yml
  README.md
Labels: documentation, github_actions

Rename deploy to GitHub Pages job to have an explicit prefix
  .github/workflows/deploy-github-pages-rust.yml
  README.md
Labels: documentation, github_actions

Rename labeler workflow to label-pull-request
  .github/workflows/label-pull-request.yml
  .github/workflows/on-pull-request-target.yml
  README.md
Labels: documentation, github_actions

Rename labeler workflow to label-pull-request
  .github/workflows/label-pull-request.yml
  .github/workflows/on-pull-request-target.yml
  README.md
Labels: documentation, github_actions

Prevent deployment_perms_error due to file permissions
  .github/workflows/deploy-github-pages-rust.yml
Labels: github_actions

Prevent deployment_perms_error due to file permissions
  .github/workflows/deploy-github-pages-rust.yml
Labels: github_actions

.github/labeler.yml:

# See https://github.com/actions/labeler for more information.

documentation:
  - "**/*.md"

github_actions:
  - .github/workflows/*.yml
