Repository EarthmanMuons/reusable-workflows, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github_actions

Use plural caches instead of singular cache
  .github/workflows/call-flush-caches.yml
  .github/workflows/call-preload-caches.yml
  .github/workflows/flush-caches.yml
  .github/workflows/on-schedule-weekly.yml
  .github/workflows/preload-caches-actionlint.yml
  .github/workflows/preload-caches-rust.yml
  README.md
Labels: documentation, github_actions

Use plural caches instead of singular cache
  .github/workflows/call-flush-caches.yml
  .github/workflows/call-preload-caches.yml
  .github/workflows/flush-caches.yml
  .github/workflows/on-schedule-weekly.yml
  .github/workflows/preload-caches-actionlint.yml
  .github/workflows/preload-caches-rust.yml
  README.md
Labels: documentation, github_actions

Document that we cache the latest version of actionlint
  .github/workflows/preload-caches-actionlint.yml
  README.md
Labels: documentation, github_actions

Document that we cache the latest version of actionlint
  .github/workflows/preload-caches-actionlint.yml
  README.md
Labels: documentation, github_actions

Tweak job names to account for slashes
  .github/workflows/check-markdown.yml
  .github/workflows/check-rust-beta.yml
  .github/workflows/check-rust-miri.yml
  .github/workflows/check-rust.yml
  .github/workflows/check-spelling.yml
Labels: github_actions

Tweak job names to account for slashes
  .github/workflows/check-markdown.yml
  .github/workflows/check-rust-beta.yml
  .github/workflows/check-rust-miri.yml
  .github/workflows/check-rust.yml
  .github/workflows/check-spelling.yml
Labels: github_actions

Document the reusable Rust beta/miri workflows
  README.md
Labels: documentation

Document the reusable Rust beta/miri workflows
  README.md
Labels: documentation

Add workflow to bump Rust project versions
  .github/workflows/bump-version-rust.yml
  README.md
Labels: documentation, github_actions

Add workflow to bump Rust project versions
  .github/workflows/bump-version-rust.yml
  README.md
Labels: documentation, github_actions

Require GitHub App secrets when bumping versions
  .github/workflows/bump-version-rust.yml
Labels: github_actions

Require GitHub App secrets when bumping versions
  .github/workflows/bump-version-rust.yml
Labels: github_actions

Use consistent ordering
  .github/workflows/bump-version-rust.yml
Labels: github_actions

Use consistent ordering
  .github/workflows/bump-version-rust.yml
Labels: github_actions

Tweak wording for deploy-github-pages job
  .github/workflows/deploy-github-pages-rust.yml
Labels: github_actions

Tweak wording for deploy-github-pages job
  .github/workflows/deploy-github-pages-rust.yml
Labels: github_actions

Add workflow for tagging untagged Rust project releases
  .github/workflows/tag-untagged-releases-rust.yml
  README.md
Labels: documentation, github_actions

Add workflow for tagging untagged Rust project releases
  .github/workflows/tag-untagged-releases-rust.yml
  README.md
Labels: documentation, github_actions

Use "auto-" prefix for jobs triggered automatically
  .github/workflows/auto-label-pull-request.yml
Labels: github_actions

Use "auto-" prefix for jobs triggered automatically
  .github/workflows/auto-label-pull-request.yml
Labels: github_actions

Only annotate when there are actually new tags
  .github/workflows/tag-untagged-releases-rust.yml
Labels: github_actions

Only annotate when there are actually new tags
  .github/workflows/tag-untagged-releases-rust.yml
Labels: github_actions

Add workflows for publishing a crate and drafting a release
  .github/workflows/draft-release-rust.yml
  .github/workflows/publish-crate.yml
  README.md
Labels: documentation, github_actions

Add workflows for publishing a crate and drafting a release
  .github/workflows/draft-release-rust.yml
  .github/workflows/publish-crate.yml
  README.md
Labels: documentation, github_actions

Link to spellout as a comprehensive usage example
  README.md
Labels: documentation

Link to spellout as a comprehensive usage example
  README.md
Labels: documentation

Group dependabot github-actions version bumps into single PR
  .github/dependabot.yml
Labels: none

Group dependabot github-actions version bumps into single PR
  .github/dependabot.yml
Labels: none

Have dependabot ignore the typos action
  .github/dependabot.yml
Labels: none

Have dependabot ignore the typos action
  .github/dependabot.yml
Labels: none

Document the bump-version-rust workflow
  .github/workflows/bump-version-rust.yml
  README.md
Labels: documentation, github_actions

Document the bump-version-rust workflow
  .github/workflows/bump-version-rust.yml
  README.md
Labels: documentation, github_actions

Document the remaining undocumented workflows
  README.md
Labels: documentation

Document the remaining undocumented workflows
  README.md
Labels: documentation

Add permission for deploy-pages to read actions info
  .github/workflows/deploy-github-pages-rust.yml
Labels: github_actions

.github/labeler.yml:

# See https://github.com/actions/labeler for more information.

documentation:
  - "**/*.md"

github_actions:
  - .github/workflows/*.yml
